#temperature {
    width: 97%;
    margin: 20px auto;
    height: 270px;
    border-radius: 20px;
    background: rgba(299, 299, 299, 0.4);
}

.widget .left-side {
    position: absolute;
    left: 0;
    width: 200px;
}

.widget .right-side {
    position: absolute;
    right: 0;
    width: 200px;
    margin: 50px 0;
}

.img-temp {
    width: 75%;
    display: block;
    margin: 0 auto -30px;
}

.widget .left-side h4 {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 25px;
}

.sunny {
    padding: 15px 0px 40px;
    width: 100px;
    display: block;
    margin: 0 auto -30px;
}

.widget .right-side .city {
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 5px #707070;
}

.widget .right-side .degree {
    font-family: 'Fredoka', sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 5px #707070;
}

.widget .bottom {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget .bottom section {
    margin: 5px 10px;
    text-align: center;
    line-height: 100%;
    font-size: 30px;
    text-shadow: 1px 1px 5px #707070;
}