* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
i,
button,
a {
  cursor: pointer;
}
/* Css Variable */
:root {
  --bodycolor: #f7edea;
  --maincolor: #ee6243;
  --hovercolor: #054a52;
  --hovercolor2: #e49381;
  --fontcolor: #fff;
  --fontcolor2: #000;
}
.dark-mode {
  --bodycolor: #363333;
  --maincolor: #282828;
  --hovercolor: #404040;
  --fontcolor: #fff;
  --fontcolor2: #fff;
  --hovercolor2: #b3b3b3;
  --border: #fff;
}
body {
  background: var(--bodycolor);
}
.warpper .header {
  background-color: var(--maincolor);
  z-index: 1;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
}
.warpper .header .header-menu {
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header .header-menu .title {
  color: var(--fontcolor);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}
.header .header-menu .sidebar-btn {
  color: var(--fontcolor);
  position: absolute;
  margin-left: 240px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}
.header .header-menu .sidebar-btn:hover {
  color: var(--hovercolor);
}
.warpper .header .header-menu ul {
  display: flex;
}
.warpper .header .header-menu ul li a {
  background: #fff;
  color: var(--maincolor);
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  transition: 0.3s;
  transition-property: background, color;
}
.warpper .header .header-menu ul li a:hover , .active-hover {
  background: var(--hovercolor2);
  color: var(--fontcolor);
}
.warpper .sidebar {
  z-index: 1;
  background: var(--maincolor);
  position: fixed;
  top: 70px;
  width: 250px;
  height: calc(100% - 0%);
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}
/* scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rosybrown;
}
.warpper .sidebar .sidebar-menu {
  overflow: hidden;
}
.warpper .sidebar .sidebar-menu .item {
  width: 250px;
  overflow: hidden;
}
.warpper .sidebar .sidebar-menu .item .menu-btn {
  display: block;
  color: var(--fontcolor);
  position: relative;
  padding: 20px;
  transition: 0.3s;
  transition-property: color;
}
.warpper .sidebar .sidebar-menu .item .menu-btn:hover {
  background: var(--hovercolor2);
}
.warpper .sidebar .sidebar-menu .item .menu-btn i {
  font-size: 23px;
  margin-right: 32px;
}
.warpper .sidebar .sidebar-menu .item .menu-btn .drop-down {
  float: right;
  font-size: 12px;
  margin-top: 3px;
}
.warpper .sidebar .sidebar-menu .item .sub-menu {
  background: var(--hovercolor2);
  overflow: hidden;
  transition: 0.3s;
  max-height: 0;
  transition-property: background, max-hight;
}
.warpper .sidebar .sidebar-menu .item .sub-menu a {
  background: var(--hovercolor);
  display: block;
  position: relative;
  color: var(--fontcolor);
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  transition: 0.3s;
  transition-property: background;
}
.warpper .sidebar .sidebar-menu .item .sub-menu a:hover {
  background: var(--hovercolor2);
}
.warpper .sidebar .sidebar-menu .item .sub-menu i {
  padding-right: 27px;
  font-size: 18px;
}
.warpper .sidebar .sidebar-menu .item:target .sub-menu {
  max-height: 500px;
}
.warpper.collapse .sidebar {
  width: 60px;
  font-size: 25px;
}

.warpper .todolist-section {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 50px;
  color: #000;
  transition: 0.3s;
}
.warpper.collapse .todolist-section {
  width: calc(100% - 60px);
  margin-left: 60px;
}
ul.breadcrumb {
  margin-top: 30px;
  padding: 10px 5px 16px;
  list-style: none;
}
ul.breadcrumb li {
  color: var(--fontcolor2);
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: var(--fontcolor2);
  content: ">\00a0";
}
ul.breadcrumb .include {
  color: gray;
}
.todolist-section h1 {
  color: var(--fontcolor2);
  font-size: 28px;
}
.todolist-section hr {
  width: 100%;
  opacity: 0.25;
  margin: 15px 0px;
}
.todo-container {
  width: 100%;
  margin: 10px auto;
  height: 450px;
  background: #e0b8af;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
  padding: 10px;
  overflow-y: auto;
}
.todo-container input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  letter-spacing: 2px;
  border-radius: 5px;
  background: #404040;
  color: #fff;
  padding: 0 10px;
  margin: 15px 0;
}
input::placeholder {
  color: #b3b3b3;
}
.todo-container .ul li {
  position: relative;
  background: #eee;
  letter-spacing: 1px;
  color: #000;
  height: 40px;
  border-radius: 50px;
  margin: 10px 0px;
  padding: 10px;
}
.todo-container .ul li i {
  position: absolute;
}
.todo-container .ul li .fa-check {
  right: 40px;
  color: green;
}
.todo-container .ul li .fa-trash-alt {
  right: 15px;
  color: red;
}
.todo-container .ul li i:hover {
  transform: scale(1.2);
}
.todo-container .ul .checked {
  background: rgb(233, 223, 223);
  text-decoration: line-through;
  transition: 0.2;
}

